{% extends "base.html" %}
{% block content %}
  <h1>📝 Task Details</h1>

  <h2>{{ task.title }}</h2>
  <p><strong>Опис:</strong> {{ task.desc|default:"(No Description Provided)" }}</p>
  <p><strong>Створено:</strong> {{ task.created_at|date:"d.m.Y H:i"|default:'somewhen' }}</p>
  <p><strong>Оновлено:</strong> {{ task.updated_at|date:"d.m.Y H:i"|default:'somewhen' }}</p>

  {% if task.completed %}
    <p style="color: green;"><strong>Статус:</strong> Done ✅</p>
  {% else %}
    <p style="color: orange;"><strong>Status:</strong> In Process ⏳</p>
  {% endif %}

  <p><a href="{% url 'tasks:task_list' %}">← Back to the List</a></p>
{% endblock %}
